/* 
    MAKE SURE YOU ADD COMMENTS FOR YOUR PART OF STYLING
    BEFORE AND AFTER ENDING.....
    USE var() FOR COLOR AND FONTS
    USE ID="HEADING" FOR H1-H6 TAGS
*/

/* default reset starting */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --font-color: #000;
    --background-color-white: #fff;
    --background-yellow-color: #FFBF23;
    --background-pink-color: #FFD7EF;
    /* FONT TYPE */
    --heading-font-family: "Space Grotesk", sans-serif;
    --paragraph-font-family:  'Proxima Nova', sans-serif;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima Nova Font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }  
li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    min-height: 100vh;
}
#heading{
    font-family: var(--heading-font-family);
}
p{
    font-family: var(--paragraph-font-family);
}
/* default reset ending */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@|| MAIN STYLE START FROM HERE || @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\|| ABHIRAM PART STARTING ||//////////////////////////////////////////////////////////////// */

                                     /*CODE IN THIS BLOCK ONLY  */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\|| ABHIRAM PART ENDING ||////////////////////////////////////////////////////////////////// */


/* #/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/|| ABHISHEK PART STARTING ||\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#*/

                                       /* CODE IN THIS BLOCK ONLY */

/* #/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/#/|| ABHISHEK END STARTING ||\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#\#*/
